.ex{
    
    height: 400px;
    width: 400px;
    background-color: red;
    animation: colors 2s infinite;
}
@keyframes colors {
    0%{
        background-color: blue;;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: royalblue;
    }
    100%{
        background-color: rgb(192, 15, 150)
    }
}